In [1]:
#Lists

list1 = ["Jack",9,"Joe",3.25]
type(list1)

list

In [7]:
list1 = ["Jack",9,"Joe",3.25]
len(list1)

4

In [13]:
list2 = ["Micheal",2,"Ellis"]
list3 = list1+list2
list3

['Jack', 9, 'Joe', 3.25, 'Micheal', 2, 'Ellis']

In [14]:
list1*2

['Jack', 9, 'Joe', 3.25, 'Jack', 9, 'Joe', 3.25]

In [15]:
list2[1]=10
list2

['Micheal', 10, 'Ellis']

In [17]:
list1.append(30)
list1

['Jack', 9, 'Joe', 3.25, 30]

In [18]:
list1.pop(0)
list1

[9, 'Joe', 3.25, 30]

In [22]:
list4 = [54,49,78,22,8789,8,484]
list4.sort(reverse=True)
list4

[8789, 484, 78, 54, 49, 22, 8]

In [23]:
list4 = [54,49,78,22,8789,8,484]
list4.sort()
list4

[8, 22, 49, 54, 78, 484, 8789]

In [25]:
#Tuples

tuple = (1,2,3,4,"jack",1,2,2,2)

type(tuple)

tuple

In [26]:
tuple.count(2)

4

In [28]:
tuple.index("jack")

4

In [31]:
#Dictionaries

dict1 = {"one":1,"two":2,"three":3,"four":4}
type(dict1)

dict

In [33]:
dict1["one"]

1

In [34]:
dict1["five"] = 5
dict1

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [35]:
dict1.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [36]:
dict1.values()

dict_values([1, 2, 3, 4, 5])

In [37]:
dict1.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)])

In [39]:
# input functions

input("Please provide a number")

Please provide a number32

'32'

In [38]:
input()

25

'25'

In [40]:
a = input("Please provide a number")
print(a*3)

Please provide a number35
353535

In [41]:
a = int(input("Please provide a number"))
print(a*3)

Please provide a number38
114